/* moblie */
@media only screen and (max-width: 739px) {
   section.contact {
      display: none;
   }
   header.header {
      background-color: var(--blue-color);
      padding: 1rem 1rem;
      position: relative;
   }

   .header .header_logo_mobile img {
      height: 3.5rem;
      color: white;
   }
   .header .header_logo {
      display: none;
   }
   .header .header_list {
      display: none;
   }
   .header .header_icon {
      display: none;
   }
   .header_menu {
      font-size: 1.8rem;
      color: white;
   }
   .header_menu:hover {
      color: rgb(224, 215, 215);
      transition: all 0.05s ease-in-out;
      cursor: pointer;
   }

   .header_contact {
      text-decoration: none;
      font-size: 1.8rem;
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0 0.6rem 0.1rem;
   }

   .header_contact i {
      color: white;
   }
   .header .header_list-toggle {
      display: block;
      position: absolute;
      top: 5.8rem;
      left: 0;
      flex-direction: column;
      z-index: 10;
      background-color: white;
      width: 100%;
   }
   .header .header_list_item {
      border-bottom: 1px solid #ccc;
   }
   .header .header_list_item .header_item {
      padding: 1rem 4rem;
   }
   .text_hover {
      font-size: 1.3rem;
      font-weight: 500;
   }
   .header .header_list_item .inner {
      display: none;
   }
   .slider_index {
      height: 40rem;
   }
   .img_background_1 {
      height: 40rem;
      animation: img_zoom 8s ease-in-out;
      background-size: cover;
      background-position: 50% 50%;
   }
   .img_background_2 {
      height: 40rem;
      animation: img_zoom 8s ease-in-out;
      background-size: cover;
      background-position: 50% 50%;
   }
   @keyframes img_zoom {
      100% {
         transform: scale(1.4);
      }
   }
   .prev,
   .next {
      opacity: 0;
   }
   .content span {
      top: 14rem;
      font-size: 3.5rem;
   }
   .content h2 {
      top: 19rem;
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: -0.05rem;
   }
   .content p {
      top: 27rem;
      font-size: 1.2rem;
      letter-spacing: -0.05rem;
   }



   .search {
      margin: 0 3rem;
      flex-direction: column;
      transform: translateY(-20%);
   }
   .search_list{
      width: 100%;
      flex-direction: column;
   }
   .search_content {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
      border-right: none;
      border-bottom: 0.05rem solid #cfcfcf;
   }
   .search_item i{
      margin-right: 0.6rem;
   }
   .search_icon{
      width: 100%;
      padding: 1.5rem 5rem;
   }
   .search_item .search_input {
      font-size: 1.2rem;
   }

.content_heading span{
    font-size: 2.5rem;

}
.content_heading h3{
    font-size: 4.5rem;
}
.content_heading p{
   font-size: 1rem;
}

   .content_hold{
      margin-top: 2rem;
   }
   .content_img{
      margin: 0 4rem;
   }
   .content_img-list{
      grid-template-columns: 1fr;
      grid-gap: 4rem 0;
   }
}

/* Tab */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   section.contact {
      display: none;
   }

   header.header {
      background-color: var(--blue-color);
      padding: 1.4rem 6rem;
      position: relative;
   }

   .header .header_logo_mobile img {
      height: 4rem;
   }
   .header .header_list {
      display: none;
   }
   .header .header_logo {
      display: none;
   }
   .header .header_icon {
      display: none;
   }
   .header_menu {
      font-size: 1.8rem;
      color: white;
   }
   .header_menu:hover {
      color: rgb(224, 215, 215);
      transition: all 0.05s ease-in-out;
      cursor: pointer;
   }

   .header_contact {
      text-decoration: none;
      font-size: 1.8rem;
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0 0.6rem 0.1rem;
   }
   .header_contact i {
      color: white;
   }
   .header .header_list-toggle {
      display: block;
      position: absolute;
      top: 7rem;
      left: 0;
      flex-direction: column;
      z-index: 10;
      background-color: white;
      width: 100%;
   }
   .header .header_list_item {
      border-bottom: 1px solid #ccc;
   }
   .header .header_list_item .header_item {
      padding: 1.3rem 4rem;
   }
   .text_hover {
      font-size: 1.4rem;
      font-weight: 500;
   }
   .header .header_list_item .inner {
      display: none;
   }

   /* slider */
   .slider_index {
      height: 60rem;
   }
   .img_background_1 {
      height: 60rem;
      animation: img_zoom 8s ease-in-out;
      background-size: cover;
      background-position: 50% 50%;
   }
   .img_background_2 {
      height: 60rem;
      animation: img_zoom 8s ease-in-out;
      background-size: cover;
      background-position: 50% 50%;
   }
   @keyframes img_zoom {
      100% {
         transform: scale(1.4);
      }
   }
   .prev,
   .next {
      opacity: 0;
   }
   .content span {
      top: 24rem;
      font-size: 5rem;
   }
   .content h2 {
      top: 33rem;
      font-size: 7.5rem;
   }
   .content p {
      top: 45rem;
      font-size: 1.5rem;
   }

   .search {
      margin: 0 7rem;
   }
   .search_content {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
   }
   .search_item i{
      margin-right: 0.6rem;
   }
   .search_icon{
      padding: 2rem 5rem;
   }
   .search_item .search_input {
      font-size: 1.2rem;
   }



   .content_hold{
      margin-top: 6rem;
   }
   .content_img{
      margin: 0 4rem;
   }
   .content_img-list{
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
   }
}

/* pc */
@media only screen and (min-width: 1024px) and (max-width: 1247px) {
   section.contact {
      height: 4rem;
      font-size: 1rem;
   }
   header.header {
      padding: 1rem 2rem;
      position: relative;
   }
   .header .header_icon {
      padding-right: 0rem;
   }
   .header_menu {
      display: none;
   }
   .header_contact {
      display: none;
   }
   .header_logo_mobile {
      display: none;
   }
   .header .header_list_item .header_item {
      padding: 1.52rem 2.5rem;
      cursor: pointer;
      overflow: visible;
   }
   .content span {
      font-size: 5rem;
   }
   .content h2 {
      font-size: 7.5rem;
   }
   .content p {
      top: 32rem;
      font-size: 1.5rem;
   }
   .search {
      margin: 0 7rem;
   }
   .search_content {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
   }
   .search_item .search_input {
      font-size: 1.2rem;
   }
}

/* 1248px */
@media only screen and (min-width: 1248px) {
   .header_menu {
      display: none;
   }
   .header_contact {
      display: none;
   }
   .header_logo_mobile {
      display: none;
   }
}
